<template>
  <v-btn
    class="bg-primary"
    fab
    large
    fixed
    dark
    bottom
    right
    to="/new"
  >
    <v-icon>mdi-plus</v-icon>
  </v-btn>
</template>

<script>
export default {
  name: 'CreateBotton'

}
</script>

<style>

</style>
