<template>
  <div>
    <v-card
      rounded="xl"
      link
      :to="'/edit?id='+item.id"
      transition="slide-x-transition"
    >
      <v-row justify="space-between" align="center" class="mx-4">
        <v-col cols="1" class="pa-0">
          <v-checkbox
            v-model="item.status"
            class="mx-0"
            disabled
            off-icon="mdi-checkbox-blank-circle-outline"
            on-icon="mdi-check-circle-outline"
            :color="item.status ? 'green' : ''"
          />
        </v-col>
        <v-col
          cols="8"
          class="pa-0"
        >
          <p class="mb-0 text-body-2 font-weight-medium">
            {{ item.name }}
          </p>
          <p class="mb-0 text-caption">
            {{ $moment(item.date).format('LT') }}
          </p>
        </v-col>
        <v-col cols="1" class="pa-0">
          <v-icon color="black">
            {{ icon(item.collection) }}
          </v-icon>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'ItemsCard',
  props: {
    data: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  data () {
    return {
      item: ''
    }
  },
  mounted () {
    this.item = this.data
  },
  methods: {

    icon (value) {
      if (!value) { return '' } else if (value === 'Personal') {
        return 'mdi-account-outline'
      } else if (value === 'Work') {
        return 'mdi-briefcase-outline'
      } else if (value === 'School') {
        return 'mdi-school-outline'
      }
    }
  }
}
</script>

<style>
.theme--light.v-input--is-disabled{
  color: black
}
</style>
