<template>
  <div>
    <v-app-bar
      app
      class="white"
      clipped-left
      clipped-right
    >
      <div class="d-flex align-center">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />

        <p class="mb-0 ml-4 font-weight-bold">
          My Task List
        </p>
      </div>

      <v-spacer />

      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon color="black">
              mdi-magnify
            </v-icon>
          </v-btn>
        </template>
        <span>Buscar</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-badge overlap color="red" content="3">
              <v-icon color="black">
                mdi-bell-outline
              </v-icon>
            </v-badge>
          </v-btn>
        </template>
        <span>Notificaciones</span>
      </v-tooltip>

      <v-avatar class="mx-3">
        <img
          src="https://cdn.vuetifyjs.com/images/john.jpg"
          alt="Avatar"
          size="20"
        >
      </v-avatar>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      app
      hide-overlay
      clipped
      class="pt-4"
    >
      <span class="text-h6 font-weight-black px-3 ">
        Collections
      </span>
      <v-list
        nav
        dense
      >
        <v-list-item-group
          active-class="blue lighten-5 font-weight-black"
        >
          <v-list-item v-for="item in collections" :key="item.text" :to="item.link">
            <v-list-item-icon :class="item.class" class="rounded">
              <v-icon color="white" size="18px" class="ma-auto">
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    drawer: false,
    group: null,
    collections: [
      {
        text: 'All Tasks',
        link: '/',
        icon: 'mdi-view-grid-outline',
        class: 'blue'
      },
      {
        text: 'Personal',
        link: '/?collection=Personal',
        icon: 'mdi-account-outline',
        class: 'orange'
      },
      {
        text: 'School',
        link: '/?collection=School',
        icon: 'mdi-school-outline',
        class: 'red darken-1'
      },
      {
        text: 'Work',
        link: '/?collection=Work',
        icon: 'mdi-briefcase-outline',
        class: 'teal lighten-2'
      }
    ]
  })
}
</script>

<style>
.v-picker__title {
  color: black;
}

</style>
