<template>
  <div>
    <v-app-bar
      app
      class="white"
      clipped-left
      clipped-right
    >
      <div class="d-flex align-center">
        <v-app-bar-nav-icon color="black" @click.stop="drawer = !drawer" />

        <p class="mb-0 ml-sm-4 font-weight-black">
          My Task List
        </p>
      </div>

      <v-spacer />

      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon color="black">
              mdi-magnify
            </v-icon>
          </v-btn>
        </template>
        <span>Search</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template #activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-badge overlap color="red" content="3">
              <v-icon color="black">
                mdi-bell-outline
              </v-icon>
            </v-badge>
          </v-btn>
        </template>
        <span>Notifications</span>
      </v-tooltip>

      <v-avatar class="mx-3">
        <img
          src="https://cdn.vuetifyjs.com/images/john.jpg"
          alt="Avatar"
          size="20"
        >
      </v-avatar>
      <!-- Mobiles -->
      <v-icon
        color="black"
        class="d-flex d-md-none"
        @click.stop="drawer3 = !drawer3"
      >
        mdi-calendar
      </v-icon>
    </v-app-bar>
    <!-- Navigation left -->
    <v-navigation-drawer
      v-model="drawer"
      app
      fixed
      :hide-overlay="$vuetify.breakpoint.smAndUp"
      clipped
      class="pt-4"
    >
      <span class="text-h6 font-weight-black px-3 ">
        Collections
      </span>
      <v-list
        nav
        dense
      >
        <v-list-item-group>
          <v-list-item
            v-for="item in collections"
            :key="item.text"
            :to="item.link"
            exact
            active-class="font-weight-black blue lighten-4"
          >
            <v-list-item-icon :class="item.class" class="rounded">
              <v-icon color="white" size="20px" class="ma-auto">
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <!-- Navidation right -->
    <v-navigation-drawer
      v-model="drawer2"
      app
      clipped
      hide-overlay
      right
      :mini-variant.sync="mini"
      class="pt-4 grey lighten-4 d-none d-md-flex"
    >
      <v-list
        v-if="mini"
        nav
        dense
      >
        <v-list-item-group
          active-class="blue lighten-5 font-weight-black"
        >
          <v-list-item>
            <v-list-item-icon @click.stop="mini = !mini">
              <v-icon color="black" class="ma-auto">
                mdi-calendar
              </v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <transition name="fade">
        <v-container v-if="!mini" class="text-center">
          <v-card flat color="transparent">
            <v-card-title class="justify-space-between align-center">
              <div class="d-flex">
                <v-icon color="black">
                  mdi-calendar
                </v-icon>
                <p class="text-h6 mb-0 ml-4">
                  Calendar
                </p>
              </div>
              <v-btn
                icon
                rounded
                class="indigo lighten-1"
                small
                @click.stop="mini = !mini"
              >
                <v-icon color="white">
                  mdi-arrow-collapse
                </v-icon>
              </v-btn>
            </v-card-title>
            <v-date-picker
              v-model="date"
              width="230px"
              no-title
              class="mx-auto black--text"
              header-color="white"
              color="indigo"
              show-current
              @change="$nuxt.$emit('change-date', date)"
            />
          </v-card>
        </v-container>
      </transition>
    </v-navigation-drawer>

    <!-- Navigation Calendar mobiles -->
    <v-navigation-drawer
      v-model="drawer3"
      app
      :hide-overlay="$vuetify.breakpoint.smAndUp"
      clipped
      right
      fixed
      class="pt-4 grey lighten-4 d-flex d-md-none"
    >
      <transition name="fade">
        <v-container v-if="drawer3" class="text-center">
          <v-card flat color="transparent">
            <v-card-title class="justify-space-between align-center">
              <div class="d-flex">
                <v-icon color="black">
                  mdi-calendar
                </v-icon>
                <p class="text-h6 mb-0 ml-4">
                  Calendar
                </p>
              </div>
              <v-btn
                icon
                rounded
                class="indigo lighten-1"
                small
                @click.stop="drawer3 = !drawer3"
              >
                <v-icon color="white">
                  mdi-arrow-collapse
                </v-icon>
              </v-btn>
            </v-card-title>
            <v-date-picker
              v-model="date"
              width="230px"
              no-title
              class="mx-auto black--text"
              header-color="white"
              color="indigo"
              show-current
              @change="$nuxt.$emit('change-date', date)"
            />
          </v-card>
        </v-container>
      </transition>
    </v-navigation-drawer>
  </div>
</template>

<script>

export default {
  name: 'Navbar',
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    drawer: false,
    drawer2: true,
    drawer3: false,
    mini: true,
    group: null,
    collections: [
      {
        text: 'All Tasks',
        link: '/',
        icon: 'mdi-view-grid-outline',
        class: 'blue'
      },
      {
        text: 'Personal',
        link: '?collection=Personal',
        icon: 'mdi-account-outline',
        class: 'orange'
      },
      {
        text: 'School',
        link: '?collection=School',
        icon: 'mdi-school-outline',
        class: 'red darken-1'
      },
      {
        text: 'Work',
        link: '?collection=Work',
        icon: 'mdi-briefcase-outline',
        class: 'teal lighten-2'
      }
    ]
  })
}
</script>

<style>

.fade-enter-active {
  transition: opacity .5s linear 0.2s;

}
.fade-enter{
  opacity: 0;
}
</style>
