.bg-primary:{
  background: rgb(0,211,255);
  background-image: linear-gradient(180deg, rgba(0,211,255,1) 0%, rgba(63,136,251,1) 100%);
}
.v-text-field input{
  margin: 20px 0 20px 0
}
.v-text-field .v-input__append-inner{
  margin: auto
}
.bg-primary{
  background: rgb(0,211,255);
  background: linear-gradient(180deg, rgba(0,211,255,1) 0%, rgba(32,173,253,1) 29%, rgba(94,158,199,1) 100%);
}
