<template>
  <v-app>
    <Navbar />
    <v-main
      class="grey lighten-4"
    >
      <v-container class="pt-8">
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'CreateItemLayout',
  components: {
    Navbar
  }
}
</script>
