<template>
  <v-app>
    <Navigation />
    <v-main
      class="grey lighten-4"
    >
      <v-container class="pt-8">
        <nuxt />
        <CreateButtom />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Navigation from '@/components/Navigation.vue'
import CreateButtom from '@/components/CreateBottom.vue'
export default {
  name: 'App',
  components: {
    Navigation,
    CreateButtom
  }
}
</script>
