<template>
  <div>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="5" md="5">
        <!-- Edit Form -->
        <v-form class="">
          <div class="d-flex">
            <v-switch
              v-model="form.status"
              class="ml-auto"
              :color="form.status ? 'green darken-1': ''"
              :label="form.status ? 'Completed' :'Pending'"
              @change="changeStatus()"
            />
          </div>
          <label class="text-subtitle-1 font-weight-medium pl-4" :for="form.name">
            Task Name
          </label>
          <v-text-field
            v-model="form.name"
            filled
            background-color="white"
            rounded
            class="elevation-1 mb-6 rounded-lg white"
            placeholder="What are you going to do?"
            :error="$v.form.name.$error"
            :success="!$v.form.name.$invalid"
            :error-messages="nameErrorMessage"
            :hide-details="!$v.form.name.$error"
            @blur="$v.form.name.$touch()"
          />
          <label class="text-subtitle-1 font-weight-medium pl-4" :for="form.name">
            Description
          </label>
          <v-text-field
            v-model="form.description"
            filled
            background-color="white"
            class="elevation-1 mb-6 rounded-lg white"
            placeholder="Add a description"
            rounded
            :error="$v.form.description.$error"
            :success="!$v.form.description.$invalid"
            :error-messages="descriptionErrorMessage"
            :hide-details="!$v.form.description.$error"
            @blur="$v.form.description.$touch()"
          />
          <label class="text-subtitle-1 font-weight-medium pl-4" :for="form.name">
            Collection
          </label>
          <v-select
            v-model="form.collection"
            :items="collectionsItems"
            filled
            background-color="white"
            class="elevation-1 mb-6 rounded-lg white"
            placeholder="Add a description"
            rounded
            :error="$v.form.name.$error"
            :success="!$v.form.collection.$invalid"
            :error-messages="collectionErrorMessage"
            :hide-details="!$v.form.collection.$error"
            @blur="$v.form.collection.$touch()"
          />
          <label class="text-subtitle-1 font-weight-medium pl-4" :for="form.name">
            Date
          </label>

          <v-text-field
            v-model="form.date"
            filled
            background-color="white"
            class="elevation-1 mb-6 rounded-lg white"
            placeholder="Select a date for your task"
            rounded
            type="datetime-local"
            :error="$v.form.date.$error"
            :success="!$v.form.date.$invalid"
            :error-messages="dateErrorMessage"
            :hide-details="!$v.form.date.$error"
            @blur="$v.form.date.$touch()"
          />

          <div class="d-flex">
            <v-btn
              color="error"
              rounded
              large
              :loading="isLoading"
              @click="deleteModal = true"
            >
              <v-icon class="mr-2">
                mdi-delete
              </v-icon>
              Delete Task
            </v-btn>
            <v-btn

              rounded
              class="ml-auto bg-primary white--text"
              large
              :loading="isLoading"
              @click="submit"
            >
              <v-icon class="mr-2">
                mdi-content-save
              </v-icon>
              Save Task
            </v-btn>
          </div>
        </v-form>
      </v-col>
    </v-row>
    <!-- Confirm Dialog -->
    <v-dialog
      v-model="deleteModal"
      max-width="350px"
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-card-title>
          Are you sure?
        </v-card-title>
        <v-card-text>
          Once deleted it cannot be recovered
        </v-card-text>
        <v-card-actions class="justify-space-between">
          <v-btn color="error" @click="deleteModal = false">
            Cancel
          </v-btn>
          <v-btn color="primary" @click="deleteTask">
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Notifications -->
    <v-snackbar
      v-model="notification.active"
      :color="notification.color"
    >
      {{ notification.text }}
      <template #action="{ attrs }">
        <v-btn
          text
          v-bind="attrs"
          @click="notification.active = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'NewTask',
  mixins: [
    validationMixin
  ],
  layout: 'createItem',
  data () {
    return {
      notification: {
        active: false,
        text: '',
        type: ''
      },
      isLoading: false,
      deleteModal: false,
      form: {
        name: '',
        description: '',
        collection: '',
        date: '',
        status: false,
        id: ''
      },
      collectionsItems: [
        'Personal',
        'School',
        'Work'
      ]

    }
  },
  computed: {
    nameErrorMessage () {
      if (this.$v.form.name.$dirty && !this.$v.form.name.required) {
        return 'Please enter a name'
      } else {
        return ''
      }
    },
    descriptionErrorMessage () {
      if (this.$v.form.description.$dirty && !this.$v.form.description.required) {
        return 'Please enter a description'
      } else {
        return ''
      }
    },
    collectionErrorMessage () {
      if (this.$v.form.collection.$dirty && !this.$v.form.collection.required) {
        return 'Please select a collection'
      } else {
        return ''
      }
    },
    dateErrorMessage () {
      if (this.$v.form.date.$dirty && !this.$v.form.date.required) {
        return 'Please select a date'
      } else {
        return ''
      }
    }
  },
  beforeMount () {
    let data = []
    this.loading = true
    if (localStorage.getItem('tasks')) {
      data = JSON.parse(localStorage.getItem('tasks'))

      /* Filter by id */
      this.form = data.filter((element) => {
        return element.id === this.$route.query.id
      })[0]
    }
  },
  validations: {
    form: {
      name: {
        required
      },
      description: {
        required
      },
      collection: {
        required
      },
      date: {
        required
      }
    }
  },
  methods: {
    deleteTask () {
      let data = []
      if (localStorage.getItem('tasks')) {
        data = JSON.parse(localStorage.getItem('tasks'))
      }

      const index = data.findIndex(element => element.id === this.form.id)
      data.splice(index, 1)
      const dataParsed = JSON.stringify(data)
      /* Save data */
      localStorage.setItem('tasks', dataParsed)
      this.$router.push('/')
    },
    submit () {
      this.isLoading = true
      this.$v.form.$touch()
      if (!this.$v.form.$invalid) {
        let data = []
        if (localStorage.getItem('tasks')) {
          data = JSON.parse(localStorage.getItem('tasks'))
        }
        const index = data.findIndex(element => element.id === this.form.id)
        data[index] = this.form
        const dataEdited = JSON.stringify(data)
        /* Save data */
        localStorage.setItem('tasks', dataEdited)
        /* Success message */
        this.notification.active = true
        this.notification.text = 'Successfully edited task'
        this.notification.color = 'green'
      }
      this.isLoading = false
    },
    changeStatus () {
      /* Get the data, search the index of the item, update data of item */
      let data = []
      data = JSON.parse(localStorage.getItem('tasks'))
      const index = data.findIndex(element => element.id === this.form.id)
      data[index].status = !data[index].status
      const newItem = JSON.stringify(data)
      localStorage.setItem('tasks', newItem)
    }
  }

}
</script>

<style>

</style>
