<template>
  <div>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="5" md="5">
        <p class="mb-0 text-h6 font-weight-black">
          All for Today - {{ $moment(date).format('LL') }}
        </p>
        <v-slide-x-transition>
          <div v-show="itemsToday.length > 0 && !loading">
            <Items
              v-for="item in itemsToday"
              :key="item.id"
              :data="item"
              class="my-6"
            />
          </div>
        </v-slide-x-transition>
        <p v-if="itemsToday.length === 0" class="text-h6 font-italic grey--text">
          Ups, there is not more tasks
        </p>

        <p class="mb-0 mt-12 text-h6 font-weight-black">
          All for - {{ $moment(oneDayMore).format('LL') }}
        </p>
        <v-slide-x-transition>
          <div
            v-show="itemsTomorrow.length > 0 && !loading"
          >
            <Items
              v-for="item in itemsTomorrow"
              :key="item.id"
              :data="item"
              class="my-6"
            />
          </div>
        </v-slide-x-transition>
        <p
          v-if="itemsTomorrow.length === 0"
          class="text-h6 font-italic grey--text"
        >
          Ups, there is not more tasks
        </p>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Items from '~/components/items.vue'
export default {
  name: 'Index',
  components: {
    Items
  },

  data () {
    return {
      date: new Date(),
      itemsToday: [],
      itemsTomorrow: [],
      loading: false
    }
  },
  computed: {
    oneDayMore () {
      const day1 = new Date(this.date)
      return day1.setDate(day1.getDate() + 1)
    }
  },
  watch: {
    $route () {
      this.search()
    },
    date () {
      this.search()
    }
  },
  beforeMount () {
    this.search()
  },
  created () {
    /* Event when the picker of navigation drawer change */
    this.$nuxt.$on('change-date', (date) => {
      const day1 = new Date(date)
      this.date = day1.setDate(day1.getDate() + 1)
    })
  },
  methods: {
    search () {
      let data = []
      let dataCollection = []
      this.loading = true

      if (localStorage.getItem('tasks')) {
        data = JSON.parse(localStorage.getItem('tasks'))
        /* Filter by collection or get all items */
        if (this.$route.query.collection) {
          dataCollection = data.filter((element) => {
            return element.collection === this.$route.query.collection
          })
        } else {
          dataCollection = data
        }

        /* Filter by date */
        this.itemsToday = dataCollection.filter((element) => {
          return new Date(element.date).toDateString() === new Date(this.date).toDateString()
        })
        this.itemsTomorrow = dataCollection.filter((element) => {
          return new Date(element.date).toDateString() === new Date(this.oneDayMore).toDateString()
        })

        /* Sort by date */
        this.itemsToday.sort((a, b) => {
          if (new Date(a.date) > new Date(b.date)) {
            return 1
          } else if (new Date(a.date) < new Date(b.date)) {
            return -1
          } else {
            return 0
          }
        })
        this.itemsTomorrow.sort((a, b) => {
          if (a.date > b.date) {
            return 1
          } else if (a.date < b.date) {
            return -1
          } else {
            return 0
          }
        })
      }
      this.loading = false
    }
  }
}
</script>
<style>
</style>
