<template>
  <div>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="5" md="5">
        <h1>
          New Task
        </h1>
        <!-- New Form -->
        <v-form class="mt-6" @submit.prevent="submit">
          <label class="text-subtitle-1 font-weight-medium pl-4" :for="form.name">
            Task Name
          </label>
          <v-text-field
            v-model="form.name"
            filled
            background-color="white"
            rounded
            class="elevation-1 mb-6 rounded-lg white"
            placeholder="What are you going to do?"
            :error="$v.form.name.$error"
            :success="!$v.form.name.$invalid"
            :error-messages="nameErrorMessage"
            :hide-details="!$v.form.name.$error"
            @blur="$v.form.name.$touch()"
          />
          <label class="text-subtitle-1 font-weight-medium pl-4" :for="form.name">
            Description
          </label>
          <v-text-field
            v-model="form.description"
            filled
            background-color="white"
            class="elevation-1 mb-6 rounded-lg white"
            placeholder="Add a description"
            rounded
            :error="$v.form.description.$error"
            :success="!$v.form.description.$invalid"
            :error-messages="descriptionErrorMessage"
            :hide-details="!$v.form.description.$error"
            @blur="$v.form.description.$touch()"
          />
          <label class="text-subtitle-1 font-weight-medium pl-4" :for="form.name">
            Collection
          </label>
          <v-select
            v-model="form.collection"
            :items="collectionsItems"
            filled
            background-color="white"
            class="elevation-1 mb-6 rounded-lg white"
            placeholder="Add a description"
            rounded
            :error="$v.form.name.$error"
            :success="!$v.form.collection.$invalid"
            :error-messages="collectionErrorMessage"
            :hide-details="!$v.form.collection.$error"
            @blur="$v.form.collection.$touch()"
          />
          <label class="text-subtitle-1 font-weight-medium pl-4" :for="form.name">
            Date
          </label>

          <v-text-field
            v-model="form.date"
            filled
            background-color="white"
            class="elevation-1 mb-6 rounded-lg white"
            placeholder="Select a date for your task"
            rounded
            type="datetime-local"
            :error="$v.form.date.$error"
            :success="!$v.form.date.$invalid"
            :error-messages="dateErrorMessage"
            :hide-details="!$v.form.date.$error"
            @blur="$v.form.date.$touch()"
          />

          <div class="d-flex">
            <v-btn
              rounded
              class="ml-auto bg-primary white--text"
              x-large
              type="submit"
              :loading="isLoading"
            >
              <v-icon class="mr-2">
                mdi-content-save
              </v-icon>
              Save Task
            </v-btn>
          </div>
        </v-form>
      </v-col>
    </v-row>
    <!-- Notifications -->
    <v-snackbar
      v-model="snackbar"
      color="green darken-5"
    >
      Created task

      <template #action="{ attrs }">
        <v-btn
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
const uniqueString = require('unique-string')

export default {
  name: 'NewTask',
  mixins: [
    validationMixin
  ],
  layout: 'createItem',
  data () {
    return {
      snackbar: false,
      isLoading: false,
      form: {
        name: '',
        description: '',
        collection: '',
        date: '',
        status: false,
        id: ''
      },
      collectionsItems: [
        'Personal',
        'School',
        'Work'
      ]

    }
  },
  computed: {
    nameErrorMessage () {
      if (this.$v.form.name.$dirty && !this.$v.form.name.required) {
        return 'Please enter a name'
      } else {
        return ''
      }
    },
    descriptionErrorMessage () {
      if (this.$v.form.description.$dirty && !this.$v.form.description.required) {
        return 'Please enter a description'
      } else {
        return ''
      }
    },
    collectionErrorMessage () {
      if (this.$v.form.collection.$dirty && !this.$v.form.collection.required) {
        return 'Please select a collection'
      } else {
        return ''
      }
    },
    dateErrorMessage () {
      if (this.$v.form.date.$dirty && !this.$v.form.date.required) {
        return 'Please select a date'
      } else {
        return ''
      }
    }
  },
  validations: {
    form: {
      name: {
        required
      },
      description: {
        required
      },
      collection: {
        required
      },
      date: {
        required
      }
    }
  },
  methods: {
    submit () {
      this.isLoading = true
      this.$v.form.$touch()
      if (!this.$v.form.$invalid) {
        this.form.id = uniqueString()
        let data = []
        if (localStorage.getItem('tasks')) {
          data = JSON.parse(localStorage.getItem('tasks'))
        }
        data.push(this.form)
        const newItem = JSON.stringify(data)
        /* Save data */
        localStorage.setItem('tasks', newItem)
        /* Success message */
        this.snackbar = true
      }
      this.isLoading = false
    }
  }
}
</script>

<style>

</style>
